.user-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  color: white;
  overflow-y: scroll;
}

.movies-container {
  width: 95%;
  height: 100%;
  top: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  gap: 20px;
}
