.user-container {
  width: 100vw;
  height: 100vh;
  position: absolute;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  border-radius: 20px;
  color: white;
  overflow-y: scroll;
}

.movies-container {
  position: relative;
  width: 100%;
  height: 62%;
  margin: 10px auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
  gap: 10px;
}
.movie-card {
  position: relative;

  .btn-container {
    display: flex;
    justify-content: space-between;
    position: absolute;
    bottom: 8px;

    button {
      background-color: #8d02c0;
      padding: 10px 20px;
      border-radius: 5px;
      border: none;
      text-decoration: none;
      color: white;
      margin: 5px;
    }

    button:hover {
      background-color: #9512ff;
      cursor: pointer;
      scale: 0.98;
      transition: background-color 0.3s ease-in;
    }
  }
}
